/* Starnote Theme Colors:
Primary: #1891B5
Secondary: #96D4DB
Darker Secondary: #527386
Dark Mode: #212121/#2D2D2D
Light Mode: #FBFBFB
*/
[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #1891B5;
  --md-default-bg-color:        #FBFBFB;
  --markmap-circle-fill: #ffffff;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #1891B5;
  --md-default-bg-color:        #2D2D2D;
  --markmap-circle-fill: #2e323a;
}

[data-md-color-scheme="starnote-black"] {
  --md-primary-fg-color:        #1891B5;
  --md-default-bg-color:        #000000;
}

/* Target the Markmap container specifically */
.markmap > svg {
  background: transparent !important;
}

/* Force Markmap to use the Material Theme's text color variables */
.markmap-node-text, 
.markmap-node-text-container {
  fill: var(--md-typeset-color) !important;
  color: var(--md-typeset-color) !important;
}

/* Fix the 'ForeignObject' text which often stays black */
.markmap-foreign-object div {
  color: var(--md-typeset-color) !important;
}
