[data-md-color-scheme="starnote_light"] {
  --md-primary-fg-color:        #1891B5;
  --md-primary-bg-color:        #96D4DB;
}

[data-md-color-scheme="starnote_dark"] {
  --md-primary-fg-color:        #1891B5;
  --md-primary-bg-color:        #527386;
}
